*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* sheared */
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.logo img{
    padding: 16px 120px 1340px;

    /* max-width: 139px; */
}
.btn{
      background-color: #469165;
    border: none;
    padding: 12.5px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600px;
    color: white;
    cursor: pointer;
}
/* main */
header {
    background-color:#FFFFFF;
    padding-top: 34px;
    height: 92px;
    width: 1600px;
}
nav{
    width: 1600px;
    max-width: 1600px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;  
}
nav .menu{
    display: flex;
    list-style: none;
    gap: 34px;
    margin: 34px 34px 605px 635px;
}
nav .menu a{
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}