*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* sheared */
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.logo{
    margin: 16px 120px 1341px;
}
.btn{
    background-color: #469165;
    border: none;
    margin: 24px 120px 1316px;
    padding: 12px 16px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600px;

}

/* main */
header{
    background-color: #FFFFFF;
    padding: 21px;
}
nav {
    width: 1600px;
    height: 92px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
nav .menu {
    display: flex;
    list-style: none;
    gap: 32px;
    width: 365px;
    max-width: 1600px;
    align-items: center;
}
nav .menu a{
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}