*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* sheared */
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.logo{
    margin: 16px 120px 1341px;
}
.btn{
    background-color: #469165;
    border: none;
    margin: 24px 120px 1316px;
    padding: 12px 16px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600px;
    cursor: pointer;
    list-style: none;
    text-decoration: none;
}
.section-heading{
    max-width: 1360px;
    text-align: center;
    margin: 0 auto;
}
/* main */
header{
    background-color: #FFFFFF;
    padding: 21px;
    align-items: center;
}
nav {
    width: 1600px;
    height: 92px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
nav .menu {
    display: flex;
    list-style: none;
    gap: 32px;
    width: 365px;
    max-width: 1600px;
    align-items: center;
}
nav .menu a{
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}
#banner {
    /* border: 1px solid red; */
    background-image: url(../assets/hero-bg.png);
    max-width: 1600px;
    height: 674px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    margin: 0 auto;
 }
 #banner .banner-content{
    max-width: 1360px;
    height: 295px;
    margin: 115.5px 120px 236.5px 120px;
 }
 #banner .banner-content h1{
   margin: 51px 295px 76px ; 
 }
 #banner .banner-content h3{
   margin: 0px 565.5px; 
    
 }
  #banner .banner-content h3 {
    background-color: #FFFFFF;
    max-width: 229px;
    height: 35px;
    margin-top: 115.15;
    margin-bottom: 16px;
    padding: 8px 12px 8px 34px;
    border-radius: 100px;
    font-size: 14px;
    font-weight: 300px;
    color: #469165;
 } 
#banner .banner-content h1{
    font-size: 72px;
    font-weight: bold;
    /* margin-top: 16px; */
    margin-bottom: 16px;
    color: #FFFFFF;
    padding: 6px 12px;
    display: inline-block;
}
#banner .banner-content h1 span{
    color: #30B868;
}
#banner .banner-content p{
    margin: 16px 120px 263.5px;
    max-width: 1360px;
    height: 60px;
    align-items: center;
}
#banner .banner-content p{
    font-size: 18px;
    color: #FFFFFF;
    line-height: 24px;
    margin-bottom: 32px;
    padding: 0px,295px;
    align-items: center;
    display: flex;
}
#skills{
    padding-top: 116px;
}
#skills .section-heading h2{
    font-size: 48px;
    color: #001931;
    margin-bottom: 44px
}
#skills .section-heading p{
    font-size: 16px;
    color: #627382;
    margin-bottom: 16px
}
#skills .skills-container{
    width: 1360px;
    height: 252px;
    margin: 0 auto;
    /* background-color: #469165; */
}
#skills .skills-container .skill-box {
    display: flex;
    gap: 24px;
    justify-content: space-between;
}
.skills-container .skill-box .skill-cart{
    padding: 69.5px 24px;
    max-width: 322px;
}
.skill-cart img{
    max-width: 60px;
    margin-bottom: 16px;
    background-color: #F95555;
}
.skill-cart h3{
    font-size: 24px;
    font-weight: 600px;
    color: #001931;
    margin-bottom: 16px;
}
.skill-cart p{
    font-size: 16px;
    color: #627382;
    margin-bottom: 69.5px;
}
#brain {
    /* border: 1px solid red; */
    margin: 0px 120px 120px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    
  
#brain .brain-content1{
    max-width: 700px;
}
#brain .brain-content1 h4{
    font-size: 16px;
    color: #469165;
    margin-bottom: 16px;
}
#brain .brain-content1 h1{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}
#brain .brain-content1 p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
}
#brain .brain-content1 .item{
    font-size: 16px;
    line-height: 20px;
    color: #001931;
    margin-bottom: 16px;
    list-style: none;
}
#brain .brain-image img{
    max-width: 600px;
    vertical-align: middle;
}
