*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* sheared */
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.logo{
    margin: 16px 120px 1341px;
}
.btn{
    background-color: #469165;
    border: none;
    margin: 24px 120px 1316px;
    padding: 12px 16px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600px;

}

/* main */
header{
    background-color: #FFFFFF;
    padding: 21px;
}
nav {
    width: 1600px;
    height: 92px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
nav .menu {
    display: flex;
    list-style: none;
    gap: 32px;
    width: 365px;
    max-width: 1600px;
    align-items: center;
}
nav .menu a{
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}
#banner {
    /* border: 1px solid red; */
    background-image: url(../assets/hero-bg.png);
    max-width: 1600px;
    height: 674px;
    align-items: center;
    display: flex;
    background-size: cover;
 }
  #banner .banner-content h3 {
    background-color: #469165;
    max-width: 229px;
    max-height: 35px;
    margin-top: 115.15;
    padding: 8px 12px 8px 34px;
    border-radius: 100px;
    font-size: 16px;
    font-weight: 300px;
    color: #469165;
    background-color: #FFFFFF;
 } 
#banner .banner-content h1{
    font-size: 72px;
    font-weight: bold;
    margin-top: 16px;
    margin-bottom: 16px;
    color: #FFFFFF;
    padding: 6px 12px;
    display: inline-block;
}
#banner .banner-content h1 span{
    color: #30B868;
}
#banner .banner-content p{
    font-size: 18px;
    color: #FFFFFF;
    line-height: 24px;
    margin-bottom: 32px;
}
.btn1{
    font-size: 15px;
    gap: 15px;
    display: flex;
    text-decoration: none;
    padding: 12px 22px;
    border-radius: 6px;
    background: #469165;
    color: #FFFFFF;
}
.btn2{
    font-size: 15px;
    gap: 15px;
    display: flex;
    text-decoration: none;
    padding: 12px 22px;
    
}